<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="dirsync" switchValue="All">
        <listeners>
          <add name="svclog" />
          <add name="eventlog" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <!--add name="svclog" type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="dirsync.svclog" traceOutputOptions="Timestamp" /-->
      <add name="eventlog" type="System.Diagnostics.EventLogTraceListener"
           initializeData="dirsync">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information" />
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>
